{% extends "base.twig" %}
{% block title %}
	Reset password
{% endblock %}
{% block body %}
	<p>Dear,
		{{ user.label() }}.</p>
	<p>You have requested a password reset. Please use the link below to reset your password:</p>
	<a href="{{ resetPasswordUrl }}">{{ resetPasswordUrl }}</a>
{% endblock %}
