{% extends "base.twig" %}
{% block title %}
	E-Mail Verification
{% endblock %}
{% block body %}
	<p>Dear,
		{{ user.label() }}.</p>
	<p>Thank you for registering at Prise de Courant. To login, you must verify your account first.</p>
	<a href="{{ verificationUrl }}">{{ verificationUrl }}</a>
{% endblock %}
